<app-navbar></app-navbar>
<div class="container">
    <h3>Employee Details</h3>
    <div class="field">
        <label> <b> FullName: </b></label> {{employee.name}}
    </div>
    <div class="field">
        <label> <b> email:</b></label> {{employee.email}}
    </div>
    <div class="field">
        <label> <b> jobTitle: </b></label> {{employee.jobTitle}}
    </div>
    <div class="field">
        <label> <b> phone: </b></label> {{employee.phone}}
    </div>
    <div class="field">
        <label> <b> imageUrl: </b></label> {{employee.imageUrl}}
    </div>
    <div class="field">
        <label> <b> Description: </b></label> {{employee.description}}
    </div>
</div>
